{% extends 'base.html' %}

{% block title %}Pattern Solver - Math Sequence Solver{% endblock %}
{% block description %}Solve any mathematical pattern with Pattern Solver! Identify and solve arithmetic, geometric, Fibonacci, and polynomial sequences easily.{% endblock %}

{% block content %}
    <div class="welcome-box">
        <h1>Welcome to Pattern Solver!</h1>
        <p>Test your pattern recognition skills with a fun and challenging game, or use the solver to solve patterns.</p>
        <div class="button-container">
            <a href="{{ url_for('solver') }}" class="button solver-button">
                <i class="fas fa-calculator"></i> Pattern Solver
            </a>
            <a href="{{ url_for('game') }}" class="button game-button">
                <i class="fas fa-gamepad"></i> Play Game
            </a>
             <a href="{{ url_for('pattern_library') }}" class="button pattern-library-button">
                <i class="fas fa-book"></i> Pattern Library
            </a>
            <a href="{{ url_for('blog') }}" class="button blog-button">
                <i class="fas fa-newspaper"></i> Blog
            </a>
            {% if user %}
                <a href="{{ url_for('feedback') }}" class="button feedback-button">
                    <i class="fas fa-comment"></i> Feedback
                </a>
            {% endif %}
        </div>
        <div style="text-align: center; margin-top: 50px;">
        <a href="{{ url_for('about') }}" style="color: #ccc; font-size: smaller;">About</a>
    </div>
    </div>
{% endblock %}
